Repository apify/apify-docs, pull requests merged in 2023-07, with the labels that each got.

#576 feat(app): GitHub integration
  sources/platform/integrations/github.md
  sources/platform/integrations/images/apify-git-provider-select.png
  sources/platform/integrations/images/apify-git-repository-account.png
  sources/platform/integrations/images/apify-git-repository-add.png
  sources/platform/integrations/images/apify-git-repository-search.png
  sources/platform/integrations/images/apify-git-repository.png
Labels: t-web

#632 feat: Add Actor run status message to API docs
  sources/platform/api_v2/api_v2_reference.apib
Labels: t-platform

#631 feat: Update base Docker images, improve Dockerfile section, fix 404s
  sources/platform/actors/development/actor_definition/dockerfile.md
  sources/platform/actors/development/deployment/source_types.md
  sources/platform/actors/development/performance.md
  sources/platform/api_v2/api_v2_reference.apib
Labels: t-platform

#645 feat: Replace some Apify environment variables with their Actor equivalents
  sources/platform/actors/development/programming_interface/environment_variables.md
Labels: t-platform

#647 fix: Add `dockerContextDir` property to `actor.json` docs
  sources/platform/actors/development/actor_definition/actor_json.md
Labels: bug, adhoc, t-platform

#643 feat: use tweaked Algolia search index
  apify-docs-theme/package.json
  apify-docs-theme/src/config.js
  apify-docs-theme/src/theme/SearchBar/index.js
  package-lock.json
Labels: t-tooling

#644 feat: Restructuring and updating proxy section of platform docs 3
  sources/platform/proxy/datacenter_proxy.md
  sources/platform/proxy/google_serp_proxy.md
  sources/platform/proxy/index.md
  sources/platform/proxy/residential_proxy.md
  sources/platform/proxy/usage.md
  sources/platform/proxy/your_own_proxies.md
Labels: t-platform

#640 Feature/proxy restructuring 2
  sources/platform/proxy/datacenter_proxy.md
  sources/platform/proxy/google_serp_proxy.md
  sources/platform/proxy/index.md
  sources/platform/proxy/residential_proxy.md
  sources/platform/proxy/usage.md
  sources/platform/proxy/your_own_proxies.md
Labels: adhoc, t-platform

#649 chore: update custom docsearch version
  apify-docs-theme/package.json
  package-lock.json
Labels: t-tooling

#575 feat: Restructuring and updating proxy section of platform docs
  sources/academy/tutorials/php/using_apify_from_php.md
  sources/platform/proxy/connection_settings.md
  sources/platform/proxy/datacenter_proxy.md
  sources/platform/proxy/datacenter_proxy/examples.md
  sources/platform/proxy/datacenter_proxy/index.md
  sources/platform/proxy/google_serp_proxy.md
  sources/platform/proxy/google_serp_proxy/examples.md
  sources/platform/proxy/google_serp_proxy/index.md
  sources/platform/proxy/index.md
  sources/platform/proxy/residential_proxy.md
  sources/platform/proxy/residential_proxy/index.md
  sources/platform/proxy/residential_proxy/tips_and_tricks.md
  sources/platform/proxy/troubleshooting.md
  sources/platform/proxy/usage.md
  sources/platform/proxy/your_own_proxies.md
Labels: t-platform

#651 fix: Update link to "Deploy changes automatically" video
  sources/platform/integrations/github.md
Labels: adhoc, t-platform

#654 feat: Add Actor reboot endpoint
  sources/platform/api_v2/api_v2_reference.apib
Labels: t-platform
